

 
  /* --------------------------------  nav bar  --------------------------------*/


.navbar{
 margin: 0px; 
 z-index: 10;
 font-size: 11px !important;
 letter-spacing: 3px;
 width: 100%;

}

.navbar-wrapper{
 
  padding-top: 50px;
  background-color: black;

position: static;
width: 100%;

}




  /* --------------------------------  carousel  --------------------------------*/

#carousel{
}
#myCarousel{

  z-index: -10;
  

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    max-height: 680px;
    margin: auto;
    min-height: 300px;
    min-width: 450px;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    opacity: .9;
}

#carousel-li{
background-image: url("assets/images/Untitled.jpg");
}

#img-text {

    height: 200px;
    width: 100%; 
    color: white;
    background-color: black;
    opacity: .5;
    position:absolute;
    left: 0px;
    top: 200px;
}

.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
   
    
}

.affix-top {
    position: static;
    top: -35px;


}

.affix + .container-fluid {
  /*  padding-top: 70px;   */

}

.aaa{

  background-color: red;
}